{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}"> <!--Custom css-->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <title>LEAFYGRAM . {% block title %}{% endblock title %}</title>
    <link rel="icon" href="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" type="image/icon type">
    
  </head>
  
  <body>
    {% include 'main/navbar.html' %}
    <div class="ui container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    <!--Custom js-->
    <script text="text/javascript" src="{% static 'main.js' %}"></script>
   </body>

</html>